@syntax-text-color: #FFF;
@syntax-cursor-color: #F8F8F0;
@syntax-selection-color: #2c2e31;
@syntax-background-color: #36383c;

@syntax-wrap-guide-color: #42484F;
@syntax-indent-guide-color: #767F8C;
@syntax-invisible-character-color: #767F8C;

@syntax-result-marker-color: #BFBFBF;
@syntax-result-marker-color-selected: #FFF;

@syntax-gutter-text-color: #AAA;
@syntax-gutter-text-color-highlighted: #a5a700;
@syntax-gutter-text-color-selected: #338EDA;
@syntax-gutter-background-color: #fafafa;
@syntax-gutter-background-color-highlighted: #feffc9;
@syntax-gutter-background-color-selected: none;

@syntax-color-renamed: #96CBFE;
@syntax-color-added: #A8FF60;
@syntax-color-modified: #E9C062;
@syntax-color-removed: #CC6666;
